nav.top-nav
    div.container
        div.nav-wrapper
            a.brand-logo
                i.material-icons.left library_add
                |提交合同
div.container.cms_push
    div.row.cms_push_input
        -var now=new Date().getFullYear()+"年 "+(new Date().getMonth()+1)+"月 "+new Date().getDate()+"日"
        div.input-field.col.s12.m12.l10.offset-l1
            input.validate.yahei(type="text",value=autosave?autosave.name:"")
            label.active.yahei 合同名称
        div.input-field.col.s12.m12.l5.offset-l1
            input.validate.yahei(type="text",value=autosave?autosave.a:"")
            label.active.yahei 甲方
        div.input-field.col.s12.m12.l5
            input.validate.yahei(type="text",value=autosave?autosave.aa:"")
            label.active.yahei 甲方代表
        div.input-field.col.s12.m12.l5.offset-l1
            input.validate.yahei(value=autosave?autosave.b:"湖南浩盛消防科技有限公司",type="text")
            label.active.yahei 乙方
        div.input-field.col.s12.m12.l5
            input.validate.yahei(type="text",value=autosave?autosave.bb:name)
            label.active.yahei 乙方代表
        div.input-field.col.s12.m12.l5.offset-l1
            input.datepicker.yahei(type="date",value=autosave?autosave.time:now)
            label.active.yahei 签订时间
        div.input-field.col.s12.m12.l5
            input.validate.yahei(type="text",value=autosave?autosave.location:local)
            label.active.yahei 签订地点
        div.input-field.col.s6.m6.l5.offset-l1
            input.datepicker.yahei(type="date",placeholder="起始日期",value=autosave?autosave.begin:now)
            label.active.yahei 有效期限
        div.input-field.col.s6.m6.l5
            input.datepicker.yahei(type="date",placeholder="终止日期",value=autosave?autosave.end:now)
            label.active.yahei 到
        div.input-field.col.s11.m11.l5.offset-l1
            input.validate.yahei(type="number",placeholder="人民币",value=autosave?autosave.money:"")
            label.active.yahei 合同金额
        div.input-field.col.s1.m1.l1
            p.yahei 元
        div.col.s12.m12.l10.offset-l1
            blockquote.cms_push_res.yahei.red-text 请勿连续提交；可自动保存，请放心填写。
    div.row
        div.col.s6.m6.l5.offset-l1
            a.waves-effect.btn-flat.yahei.cms_push_reset 重置
        div.col.s6.m6.l5
            a.waves-effect.btn.yahei.right.cms_push_enter
                i.material-icons.left done_all
                |提交

    style
        :stylus
            .cms_push
                .row:first-of-type
                    margin-top 42px
            .roInput
                input
                    color #222222!important
                label
                    color #9e9e9e!important
    script.
        jQuery(function(){
            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 10
            })

            $('.cms_push_enter').click(function() {
                var i = []
                var j = 0
                var exit=false

                $('.cms_push_input input').each(function () {
                    i[j] = $(this).val()
                    if(i[j]==""){
                        $('.cms_push_input input').eq(j).addClass("invalid")
                        exit=true
                    }
                    j++
                })

                if(exit) return $(".cms_push_res").html("请填写完整信息。")

                ajax('/ct','POST',{
                    name: i[0],
                    a: i[1],
                    aa: i[2],
                    b: i[3],
                    bb: i[4],
                    time:i[5],
                    location: i[6],
                    begin: i[7],
                    end: i[8],
                    money: i[9],
                },function(err,res){
                    if(err) console.log(err)
                    res=JSON.parse(res)
                    if(res.result==200){
                        $(".cms_push_res").html("提交成功，请耐心等待授权。")
                        Materialize.toast('submitted successfully', 4000)
                        flashCtInput()
                    }
                    if(res.result==595){
                        $(".cms_push_res").html("已存在同名合同，请检查后重试。")
                    }
                })
            })

            $('.cms_push_reset').click(function() {
                flashCtInput()
            })

            function flashCtInput(){
                var i = document.querySelectorAll(".cms_push_input input")
                for (var j = 0; j <= i.length; j++)
                    if (i[j]) i[j].value = null
                var now=new Date().getFullYear()+"年 "+(new Date().getMonth()+1)+"月 "+new Date().getDate()+"日"
                document.querySelectorAll(".cms_push_input input")[3].value = "湖南浩盛消防科技有限公司"
                document.querySelectorAll(".cms_push_input input")[5].value = now
                document.querySelectorAll(".cms_push_input input")[7].value = now
                document.querySelectorAll(".cms_push_input input")[8].value = now
            }

            var h=setInterval(function(){
                if($(".cms_push").length==0)
                    return clearInterval(h)

                var i = []
                var j = 0

                $('.cms_push_input input').each(function () {
                    i[j] = $(this).val()
                    j++
                })

                ajax('/ct/autosave','POST',{
                    name: i[0],
                    a: i[1],
                    aa: i[2],
                    b: i[3],
                    bb: i[4],
                    time:i[5],
                    location: i[6],
                    begin: i[7],
                    end: i[8],
                    money: i[9],
                    _silent:1
                },function(err,res){
                    if(err) console.log(err)
                })
            },5000)

            function ajax(path,method,data,callback){
                if(!callback) callback=data
                $.ajax({url:path,type:method,cache:false,data:data,
                    beforeSend:function(){
                        if(!data._silent) jQuery("footer>.ajaxLoad").fadeIn(200)
                    },
                    complete:function(res){
                        if(!data._silent) jQuery("footer>.ajaxLoad").fadeOut(200)
                        if(res.status==0) Materialize.toast('网络故障……', 4000)
                        //if(res.status==302)
                        if(res.status==403) Materialize.toast('服务器残忍地拒绝了这次请求', 4000)
                        if(res.status==404) Materialize.toast('服务器懵逼了', 4000)
                        if(res.status==500) Materialize.toast('服务器傻掉了', 4000)
                        callback(res.responseText.code,res.responseText)
                    }
                })
            }
        })

