nav.top-nav
    div.container
        div.nav-wrapper
            a.brand-logo
                i.material-icons.left question_answer
                |个人信息
div.container.selfInfo
    div.row.selfInfo_input
        div.input-field.col.s12.m12.l5.offset-l1
            input.validate.yahei(value=usr,type="text")
            label.active.yahei 用 户 名
        div.input-field.col.s12.m12.l5
            input.validate.yahei(value=name,type="text")
            label.active.yahei 姓    名
        div.input-field.col.s12.m12.l5.offset-l1
            input.validate.yahei(value=idf,type="text")
            label.active.yahei 身份证号
        div.input-field.col.s12.m12.l5
            input.validate.yahei(value=em,type="text")
            label.active.yahei 电子邮箱
        div.input-field.col.s12.m12.l5.offset-l1
            input.validate.yahei(value=tel,type="text")
            label.active.yahei 电话号码
        div.input-field.col.s8.m8.l3.roInput
            input.validate.yahei(disabled,value=((ding.length>1)?ding:"尚未绑定"),type="text")
            label.active.yahei 钉钉ID
        div.col.s4.m4.l2
            a.waves-effect.btn.yahei.right.selfInfo_unbindDing_enter(class=((ding.length>1)?"":"disabled")) 解除绑定
        div.input-field.col.s12.m12.l5.offset-l1.roInput
            input.validate.yahei(disabled,value=(pms[3]?"法人代表":(pms[4]?"管理员":"委托代理人")),type="text")
            label.active.yahei 角    色
    div.row
        div.col.s6.m6.l5.offset-l1
            a.tooltipped.waves-effect.btn-flat.yahei.modal-trigger(data-position="right" data-delay="50" data-tooltip="点击修改密码" href="#selfInfo_changePwd") 修改密码
            //selfInfo_changePwd
            div#selfInfo_changePwd.modal
                div.modal-content
                    div.container
                        h5.yahei 修改密码
                        div.row.selfInfo_changePwd_input
                            div.input-field.col.s12
                                input.validate.yahei(type="password")
                                label.active.yahei 原密码
                            div.input-field.col.s12
                                input.validate.yahei(type="password")
                                label.active.yahei 新密码
                            div.input-field.col.s12
                                input.validate.yahei(type="password")
                                label.active.yahei 再输一遍
                div.modal-footer
                    a.modal-action.modal-close.waves-effect.waves-red.btn-flat.yahei 取消
                    a.waves-effect.waves-green.btn.selfInfo_changePwd_enter.yahei 修改

        div.col.s6.m6.l5
            a.waves-effect.btn.yahei.right.selfInfo_enter
                i.material-icons.left done_all
                |确定修改

    style
        :stylus
            .selfInfo_unbindDing_enter
                margin-top 20px
            .selfInfo
                .row:first-of-type
                    margin-top 42px
            .roInput
                input
                    color #222222!important
                label
                    color #9e9e9e!important
    script.
        $(function(){
            $('.tooltipped').tooltip({delay: 50})
            $('.modal-trigger').leanModal()

            $('.selfInfo_unbindDing_enter').click(function () {
                var ding=$('.selfInfo_input input').eq(5).val()
                if(ding=="尚未绑定"||ding.length<5)
                    return
                ajax('/admin/ding', 'DELETE', function (err, res) {
                    if (err) console.log(err)
                    res = JSON.parse(res)
                    if (res.result == 200) {
                        swal({
                            title: "解绑成功！",
                            type: 'success',
                            showConfirmButton: false,
                            allowOutsideClick: true,
                            timer: 820
                        })
                        window.location.reload()
                    }
                })
            })

            $('.selfInfo_enter').click(function(){
                var i = []
                var j = 0

                $('.selfInfo_input input').each(function () {
                    i[j] = $(this).val()
                    j++
                })

                ajax('/admin/msg','PUT',{
                    usr:i[0],
                    name:i[1],
                    idf:i[2],
                    em:i[3],
                    tel:i[4]
                },function(err,res){
                    console.log(err)
                    console.log(res)
                })
            })

            $('.selfInfo_changePwd_enter').click(function(){
                var i = []
                var j = 0

                $('.selfInfo_changePwd_input input').each(function () {
                    i[j] = hex_sha1($(this).val())
                    j++
                })

                if(i[1]==i[2])
                    ajax('/admin/pwd','PUT',{
                        pwd:i[0],
                        newPwd:i[2],
                    },function(err,res){
                        console.log(err)
                        console.log(res)
                    })
                else
                    Materialize.toast('两次输入密码不匹配。', 4000)
            })

            function ajax(path,method,data,callback){
                if(!callback) callback=data
                $.ajax({url:path,type:method,cache:false,data:data,
                    beforeSend:function(){
                        jQuery("footer>.ajaxLoad").fadeIn(200)
                    },
                    complete:function(res){
                        jQuery("footer>.ajaxLoad").fadeOut(200)
                        if(res.status==0) Materialize.toast('网络故障……', 4000)
                        if(res.status==403) Materialize.toast('服务器残忍地拒绝了这次请求', 4000)
                        if(res.status==404) Materialize.toast('服务器懵逼了', 4000)
                        if(res.status==500) Materialize.toast('服务器傻掉了', 4000)
                        callback(res.responseText.code,res.responseText)
                    }
                })
            }
        })