link(rel='stylesheet',href='http://121.40.249.9:800/static/lib/pure.min.css')
style
    :stylus
        @import "hack"
        $trH=24pt
        $trL=18pt
        $pSizeH=12pt
        $pSizeL=10pt
        p
            font-family "Microsoft YaHei"
        .ctView
            margin 0 auto
            width 480pt
        .resTab
            margin 0 auto
            border:none
            border-collapse:collapse
            tr
                height $pSizeH
            p
                margin 6px auto
        .resTd1
            width:14.0cm
            border:none
            p
                font-size $pSizeH
                font-weight bold
        .resTr2
        .resTr5
            height $trL
            td
                width:14.0cm
                border:none
                height $trL
            p
                text-align:right
                font-size $pSizeL
        .resTr2
            border-bottom: solid 1.0pt #32CD32
        .resTd3
            background: #32CD32
            width:70pt;
            border:solid 1.0pt #32CD32
            border-top:none
            p
                font-size $pSizeH
                font-weight bold
                color #FFF
        .resTd4
            width:160pt;
            border-top:none;
            border-left:none;
            border-bottom:solid 1.0pt #32CD32
            border-right:solid 1.0pt #32CD32
            p
                font-size $pSizeH

        ////////////////////////

        .onbutton
            width 260px
            height 36px
            background-color #3FCF3F
            text-align center
            line-height @height
            radius 5px
            trans all 0.5s
            margin 0 auto
            margin-top 30px
        .onbuttoni
            cursor: pointer
            color #FFF
            trans all 0.5s
            line-height: 36px

        .onbutton:hover
            background-color #c0fcd0
        .onbutton:hover .onbuttoni
            color #000

        #ongo
            background-color #ff6a51
        #ongo:hover
            background-color #fcc0ab

        .buttonDiv
            margin 0 auto
            a
                display: inline-block
                margin 0 30px
                ext-decoration none
            a:visited
                ext-decoration none
            a:link
                text-decoration none

div.ctView
    p 法人代表：
    p
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span=sentUsr+" 提交了一份未授权合同。确认无误后可以点击以下“确定授权”快捷授权；如需修改，请点击“需要修改”跳转登录后修改。"
    table.resTab(border=1,cellspacing=0,cellpadding=0)
        tr
            td.resTd1(width=555,colspan=4)
                p(align="center")=name
        tr.resTr2
            td(width=555,colspan=4)
                p(align="right")="合同编码:"+id
        tr
            td.resTd3(width=91)
                p(align="center") 甲&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方
            td.resTd4(width=200)
                p(align="center")=p[0]
            td.resTd3(width=91)
                p(align="center") 乙&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方
            td.resTd4(width=200)
                p(align="center")=p[1]
        tr
            td.resTd3(width=91)
                p(align="center") 合同金额
            td.resTd4(width=200)
                p(align="center")=p[2]
            td.resTd3(width=91)
                p(align="center") 有效期限
            td.resTd4(width=200)
                p(align="center")=p[3]
        tr
            td.resTd3(width=91)
                p(align="center") 签订时间
            td.resTd4(width=200)
                p(align="center")=p[4]
            td.resTd3(width=91)
                p(align="center") 签订地点
            td.resTd4(width=200)
                p(align="center")=p[5]
        tr
            td.resTd3(width=91)
                p(align="center") 甲方代表
            td.resTd4(width=200)
                p(align="center")=p[6]
            td.resTd3(width=91)
                p(align="center") 乙方代表
            td.resTd4(width=200)
                p(align="center")=p[7]
        tr.resTr5
            td(width=555,colspan=4)
                p(align="right")="授权时间:"+status
    div.buttonDiv
        a(href="http://121.40.249.9:800/ct/"+address)
            #onput.onbutton
                p.onbuttoni 确定授权
        a(href='http://121.40.249.9:800/usr')
            #ongo.onbutton
                p.onbuttoni 需要修改


