doctype html
html
    head
        title 用户中心
        meta(name='viewport',content='width=device-width, initial-scale=1')
        //script(src='/static/lib/oneapm.js')
        link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        script(src='/static/lib/jquery.js')
        script(src="/static/lib/sha1.js")
        link(rel='stylesheet',href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
        link(rel='stylesheet',href='/static/lib/pure.min.css')
        style
            :stylus
                @import "hack"
                body
                    background-color #fafffa
                    font-family "Microsoft YaHei"
                    user-select none
                    -webkit-user-select none
                    -moz-user-select none

                html, body
                    height 100%
                    margin 0px
                    padding 0px

                .mc
                    background-color rgba(100, 100, 100, 0.9)

                .sc
                    background-color #32CD32

                i
                    cursor pointer

                ////////////侧栏元素
                #home
                    width 100%
                    text-align center
                    margin-bottom 32px
                    trans all 1s
                    &:hover .home
                        color #000

                .home
                    color #FFF
                    trans all 1s

                #usr
                    overflow hidden

                .usr
                    margin 0 auto
                    white-space nowrap
                    width 100%
                    text-align center
                    trans all 1s

                #face
                    display inline-block
                    background: url(/usr.jpg) no-repeat center top
                    background-size contain
                    vertical-align middle

                #name
                    text-align center
                    white-space nowrap
                    font-family "Microsoft YaHei"
                    vertical-align middle

                #usrmsg
                    margin 0 auto
                    margin-top 24px
                    overflow hidden
                    white-space nowrap
                    text-align center
                    trans all 1s
                    background-color rgb(180, 180, 180)
                    display none

                #menu
                    margin-top 32px
                    overflow hidden
                    position relative

                .mcon
                    margin 0 auto
                    white-space nowrap
                    text-align center
                    line-height @height
                    width 100%
                    trans all 1s
                    &:hover
                        background-color rgb(233, 233, 233)
                        & .mico
                            color #000
                            margin-left 10%
                        & .mtext
                            color #000

                .mtext
                    cursor default
                    color #FFF
                    margin-bottom 8px
                    trans all 1s

                .mico
                    color #FFF
                    margin-top 8px
                    trans all 1s
                .lmenu
                    display: none
                .back
                    color #FFFFFF
                    margin-top 48px
                    trans all 1s
                .back:hover
                    color #32CD32

                /////////////////////////侧栏布局

                ::-webkit-scrollbar-button
                    height 6px
                    background #32CD32

                ::-webkit-scrollbar-thumb
                    background rgba(255, 255, 255, 0.9)

                ::-webkit-scrollbar-track
                    background-color rgba(100, 100, 100, 0.9)

                ::-webkit-scrollbar-track-piece
                    background-color rgba(100, 100, 100, 0.0)

                ::-webkit-scrollbar
                    width 6px

                .pure-img-responsive
                    max-width 100%
                    height auto
                #layout, #bar, .bar-link
                    trans all 0.6s
                #layout
                    position: relative;
                    padding-left: 0
                    .active #bar
                        left: 200px;
                        width: 200px
                    .active .bar-link
                        left: 200px

                .content
                    margin  0 auto;
                    padding  0 2em;
                    min-width  600px;
                    //margin-bottom  50px;
                    //line-height 1.6em
                .header
                    margin: 0;
                    color: #333;
                    text-align: center;
                    padding: 2.5em 2em 0;
                    border-bottom: 1px solid #eee;
                    h1
                        margin: 0.2em 0;
                        font-size: 3em;
                        font-weight: 300;
                    h2
                        font-weight: 300;
                        color: #ccc;
                        padding: 0;
                        margin-top: 0
                #bar
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    z-index: 1000; /* so the bar or its navicon stays above all content */
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;

                /* -- Dynamic Button For Responsive bar -------------------------------------*/
                .bar-link
                    position: fixed;
                    display: block; /* show this only on small screens */
                    top: 0;
                    left: 0; /* "#bar width" */
                    background: rgba(0, 0, 0, 0.6);
                    font-size: 10px; /* change this value to increase/decrease button size */
                    z-index: 10;
                    width: 2em;
                    height: 2em;
                    padding: 1em 1em;
                    &:hover, &:focus
                        background: #000;
                    span
                        position: relative;
                        display: block;
                        margin-top: 0.9em;
                        &, &:before, &:after
                            background-color: #fff;
                            width: 100%;
                            height: .2em;
                            trans all 0.5s;
                        &:before, &:after
                            position: absolute;
                            margin-top: -0.55em;
                            content: " ";
                        &:after
                            margin-top: 0.55em;
                    &.active span
                        background: transparent;
                    &.active span:before
                        transform: rotate(45deg) translate(.5em, .4em);
                    &.active span:after
                        transform: rotate(-45deg) translate(.4em, -.3em);
                        /* -- Responsive Styles (Media Queries) ------------------------------------- */
                        bar_pc = 60px

                bar_s = 200px
                bar_m = 540px
                ////////////////////////////////////////不同分辨率适配
                //high px pc
                @media (min-aspect-ratio 1 / 1) and (min-width 48em)
                    .header, .content
                        padding-left 2em
                        padding-right 2em

                    #layout
                        padding-left bar_pc /* left col width "#bar" */
                        left 0

                    #bar
                        width bar_pc
                        &:hover
                            width 18%
                            min-width 200px

                    .bar-link
                        position fixed
                        left bar_pc
                        display none

                    #layout.active .bar-link
                        left bar_pc

                    #home
                        height 48px
                        line-height @height
                        trans all 1s

                    .home
                        margin-top 8px

                    #usr
                        height 160px

                    #face
                        width 54px
                        height 54px
                        radius 27px

                    #name
                        margin-left 12px
                        width 120px
                        height 54px
                        line-height @height
                        font-size 32px
                        display none

                    #usrmsg
                        margin-top 24px
                        height 82px
                        width 80%
                        radius 5px
                        line-height @height

                    #bar:hover #name
                        display inline-block

                    #bar:hover #face
                        margin-left 10px

                    #bar:hover #usrmsg
                        display block

                    .mcon
                        height 60px
                        line-height @height

                    .mtext
                        margin-left 30px
                        margin-right 10%
                        font-size 16px
                        display none

                    #bar:hover .mtext
                        display inline

                    #loading
                        margin-top 200px

                //high px mobile
                @media (max-aspect-ratio 1 / 1)
                    @media (min-width 48em)//m
                        #layout.active #bar
                            left: bar_m
                            width: bar_m

                        #layout.active .bar-link
                            left: bar_m

                        #bar
                            width: bar_m
                            margin-left: -@width

                        .bar-link
                            width: 4em;
                            height: 4em;
                            span
                                margin-top 2em
                                &:before
                                    margin-top: -1em;
                                &:after
                                    margin-top: 1em;

                        #home
                            height 72px
                            line-height @height
                            trans all 1s

                        .home
                            margin-top 6px
                            font-size 4em

                        #usr
                            height 420px

                        #face
                            width 240px
                            margin-top 46px
                            height 240px
                            radius 120px

                        #name
                            margin 0 auto
                            height 128px
                            line-height @height
                            font-size 72px

                        #usrmsg
                            margin-top 24px
                            height 82px
                            width 80%
                            radius 5px
                            line-height @height

                        .mcon
                            height 136px
                            line-height @height

                        .mico
                            font-size 4em

                        .mtext
                            margin-left 32px
                            font-size 40px
                            display inline

                        #loading
                            margin-top 500px

                        .loading
                            font-size 12em

                        .back
                            font-size 6em

                //low px
                @media (max-width 48em)
                    #layout.active #bar
                        left: bar_s
                        width: bar_s

                    #layout.active .bar-link
                        left: bar_s

                    #bar
                        width: bar_s
                        margin-left: -@width

                    #home
                        height 48px
                        line-height @height
                        trans all 1s

                    .home
                        margin-top 8px

                    #usr
                        height 160px

                    #face
                        width 80px
                        height 80px
                        radius 40px

                    #name
                        margin 0 auto
                        height 54px
                        line-height @height
                        font-size 32px

                    #usrmsg
                        margin-top 24px
                        height 82px
                        width 80%
                        radius 5px
                        line-height @height

                    .mcon
                        height 80px
                        line-height @height

                    .mtext
                        margin-left 16px
                        font-size 20px
                        display inline

                    #loading
                        margin-top 200px

                /*
                #layout.active
                    position relative
                    left 200px
                */

                ///////////////////////////////////主页面
                .mains
                    display: none
                .input
                    margin auto 0
                    border 0px
                    border-bottom 2px solid #999
                    height 24px
                    width 260px
                    background-color rgba(0, 0, 0, 0.0)
                    outline-width 0px
                    font-size 18px
                    color #222
                    font-family "Microsoft YaHei"

                ////////////////////////c11

                #ctkey
                    width 80%
                    .input
                        margin-top 15px
                        margin-bottom 11px
                        width 100%
                        height 26px
                        border 1px solid #999
                        radius 3px
                    .input:focus
                        border 1px solid #999
                        background-color rgba(255, 255, 255, 1)
                    p
                        text-align: center
                    .inputErr
                        border 1px solid #ff4422

                .onbutton
                    width 260px
                    height 36px
                    background-color #3FCF3F
                    text-align center
                    line-height @height
                    radius 5px
                    trans all 0.5s
                    margin 0 auto
                    margin-top 30px
                .onbuttoni
                    color #FFF
                    trans all 0.5s
                .onbutton:hover
                    background-color #c0fcd0
                .onbutton:hover .onbuttoni
                    color #000

                #onreset
                    background-color #ff6a51
                #onreset:hover
                    background-color #fcc0ab

                .resMsg
                    height 14px
                    margin-top 16px
                    margin-left 86px
                    font-size 14px
                    color #ff755d

                ////////////////////////真伪查询

                #seach12
                    height 80px
                    width 30%
                    min-width 200px
                #res12
                    width 768px
                    margin 0 auto
                    margin-top 12px
                    trans all 0.6s
                    .resp
                        height 28px
                        font-size 14px
                        color #ff755d
                        margin-left 48px
                ////////////////////////c13
                #ctbox,#usrbox//for c22
                    .resTab1
                        margin 0 auto
                        border:none
                        border-collapse:collapse
                        tr
                            height 12pt
                        p
                            margin 2px auto
                    .resTd1
                        width:14.0cm
                        border:none
                        .input
                            font-size 16px
                            font-weight bold
                    .resTr2
                    .resTr5
                        height 17px
                        td
                            width:14.0cm
                            border:none
                            height 17px
                        p
                            text-align:right
                            font-size 10pt
                    .resTr2
                        border-bottom: solid 1.0pt #32CD32
                    .resTd3
                        background: #32CD32
                        width:70pt;
                        border:solid 1.0pt #32CD32
                        border-top:none
                        p
                            font-size 12pt
                            font-weight bold
                            color #FFF
                    .resTd4
                        border-top:none;
                        border-left:none;
                        border-bottom:solid 1.0pt #32CD32
                        border-right:solid 1.0pt #32CD32
                        input
                            font-size 16px

                    .resTd6
                        width:80pt;
                    .resTd7
                        width:240pt;

                //////////////////////class
                .onNext
                    width 657px
                    height 12px
                    background: #deffc6
                    trans all 0.3s
                    color #000
                    border 1px solid #3FCF3F
                    margin 0 auto
                    margin-top 24px
                    text-align: center
                    position: relative
                    display: none
                    i
                        position: absolute
                        top -6px
                .onNext_:hover
                    background: #3FCF3F
                    color #fff
                .onNext__
                    background: #888
                    border 1px solid #333

                .opbox
                    margin 36px auto
                    p
                        margin 0 auto
                    .input
                        margin 1px
                        width 99%
                        height 26px
                        text-align:center
                        border 0px solid #999
                        background-color rgba(0, 0, 0, 0.0)
                        outline-width 0px
                        color #222
                        radius 3px
                        font-size 16px
                        font-family "Microsoft YaHei"
                    .onbuttons
                        width 100%
                        text-align: center
                    .onbutton
                        width 80px
                        height 28px
                        text-align center
                        line-height 28px
                        radius 5px
                        trans all 0.5s
                        margin 0 30px
                        margin-top 8px
                        display inline-block
                    .onbuttoni
                        color #FFF
                        trans all 0.5s
                        line-height: 28px
                        font-size 14px
                    .onbutton:hover .onbuttoni
                        color #000

                    .onGo
                        background-color #3FCF3F
                    .onGo:hover
                        background-color #c0fcd0

                    .onWarn
                        background-color #ff6a51
                    .onWarn:hover
                        background-color #fcc0ab

                    .onWarnConfirm
                        background-color #ff0e00

                    .onWarnConfirm:hover
                        background-color #ff0e00

                    .onRefuse
                        background-color #8b8c89

                    .resTab:first-child
                        .resTr:first-child
                            .resTd
                                background: #32CD32
                                trans all 0.6s
                                //border:solid 1.0pt #32CD32
                                border-top:none
                                .resp
                                    font-size 16px
                                    color #fff
                    .resTab
                        margin 1px auto
                        border:none
                        border-collapse:collapse
                        //trans all 0.6s
                        width 637px
                        height 32px
                        table-layout:fixed
                        .resTr
                            cursor pointer
                            trans all 0.6s
                            .resTd
                                white-space nowrap
                                overflow hidden
                                word-break:keep-all
                                text-overflow:ellipsis
                                trans all 0.6s
                                border:none
                                .resp
                                    font-size 14px
                                    color #444
                                .resi
                                    margin-left 10px
                                    trans all 0.6s
                                .resi:hover
                                    color #666
                                    margin-left 10px
                            .resTd:last-of-type
                                display none
                    .resTab:nth-of-type(odd)
                        background: #e4ffde
                    .resTab_:nth-of-type(n+2):hover
                        background: #deffc6
                        width 800px
                        height 250px
                        radius 5px
                        .resTd:not(:last-of-type):not(:first-of-type)
                            display: none
                        .resTd:last-of-type
                            display: table-cell
                    .resTab__:nth-of-type(n+2)
                        background: #deffc6
                        width 800px
                        height 250px
                        radius 5px
                        .resTd:not(:last-of-type):not(:first-of-type)
                            display: none
                        .resTd:last-of-type
                            display: table-cell
                    .ctInputDiv
                        width 60%
                        margin 0 auto
                    .input:focus
                        margin 0px
                        border 1px solid #999
                        background-color rgba(255, 255, 255, 1)

                ////////////////////////个人信息
                .headertext
                    text-align left

                .msgvalue
                    text-align right
                    p
                        margin-right 20px
                        font-family "Microsoft YaHei"
                        color #666
                        font-size 16px
                        height 40px
                .msgkey
                    width 80%
                    .input
                        font-size 14px
                        font-family "Microsoft YaHei"
                        margin-left 0px
                        margin-top 14px
                        margin-bottom 14px
                        width 100%
                        height 26px
                        border 0px solid #999
                        radius 3px
                    .input:focus
                        margin-top 13px
                        margin-bottom 13px
                        border 1px solid #999
                        background-color rgba(255, 255, 255, 1)
                    .roinput:focus
                        margin-top 14px
                        margin-bottom 14px
                        border 0px solid #999
                        background-color rgba(255, 255, 255, 0)
                #c21
                    .btn_reset
                        background-color #ff6a51
                    .btn_reset:hover
                        background-color #fcc0ab
                    .header2
                        padding-top 0
                ///////////////////////用户群组
                .addop:hover
                    color #c0fcd0
                .addop
                    color #32CD32
                    trans all 0.6s
                    text-align left
                    line-height 80px
                .delop:hover
                    color #fcc0ab
                .delop
                    margin-left 8px
                    color #ff6a51
                    trans all 0.6s
                .fa-1_5x
                    font-size 1.5em

                .seachbox
                    line-height 80px
                    position: relative
                    margin 0 auto
                .seachbar
                    margin auto auto
                    width 100%
                input::-webkit-input-placeholder
                    color #999
                    font-size 16px
                    font-family "Microsoft YaHei"
                    trans all 1s
                input:focus::-webkit-input-placeholder //,input:hover::-webkit-input-placeholder
                    color rgba(0, 0, 0, 0.0)

                .seach
                    color #32CD32
                    trans all 0.6s
                    position: absolute
                    top 50%
                    margin-top -8px
                    right 0
                    cursor pointer
                .seach:hover
                    color #c0fcd0
                
                .usrbox
                    display: none
                    width 100%
                    margin auto 0
                //
                #usrbox
                    .resTab:not(:first-of-type)
                        p:first-of-type
                            margin-bottom 4px
                        .resTr
                            .resTd
                                table
                                    margin 0 auto
                                    .resTr5
                                        p
                                            margin-top 8px
                    .select
                        width 100%
                        height 100%
                        radius 3px
                        background: #deffc6
                        border 0px
                        font-family "Microsoft YaHei"
                        text-align: center
                        option
                            margin 0 auto
                    .select:focus
                        border 1px solid #444

                /////////////////c23
                .pure-g
                    letter-spacing 0.5px
                a,div,p
                    font-family "Microsoft YaHei"
                #page
                    padding-top 20px
                .ser-block
                    margin 0 auto
                    margin-top 20px
                    //background-color #FFF
                    width 90%
                    min-width 480px
                    //radius 5px
                    //border 1px solid #AAAAAA
                    //border-bottom 4px solid #32CD32
                .ser-p
                    font-size 24px
                    letter-spacing 1px
                    font-family "Microsoft YaHei"
                    color #AAAAAA
                    margin-left 10px
                #os
                    margin 0 auto
                    width 96%
                    padding-bottom 16px
                    border-bottom 2px solid #CCC
                    a
                        font-size 18px
                        margin-left 20px
                .ser-jk
                    margin 0 auto
                    margin-top 24px
                    width 86%
                .ser-jk1
                    display inline
                    font-size 24px
                .ser-jk2
                    width 80%
                    font-size 16px
                    margin-top 6px
                    margin-bottom 12px
                    float right
                    display inline
                    text-align right
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis
                .ser-jk3,.ser-jk4
                    margin-top 4px
                    font-size 8px
                    font-family "Microsoft YaHei"
                    color #888
                .ser-jk3
                    text-align left
                .ser-jk4
                    text-align right
                .ser-tu
                    width 100%
                    height 200px
                .ser-raw1
                    p:first-of-type
                        margin-top 8px
                        margin-bottom 0px
                        font-size 10px
                        color #888
                    p:last-of-type
                        margin-top 0px
                        margin-bottom 0px
                        font-size 21px
                .ser-raw3,.ser-raw4
                    p
                        font-size 10px
                        margin 6px auto
                .ser-raw3
                    p
                        color #888
                #db
                    margin 0 auto
                    width 96%
                    margin-top 8px
                    padding-top 12px
                    border-top 2px solid #CCC

                .ser-u-x-x
                    width 33.33%
                @media (max-width 1400px)
                    .ser-block
                        .ser-u-x-x
                            width 100%
                @media (max-aspect-ratio 1/1)
                    .ser-block
                        .ser-u-x-x
                            width 100%

        script.
            var pageFlag = 0

            $(function() {
                ////////////////////////////菜单

                var mains = ["#hello", "#c11", "#c12", "#c13", "#c21", "#c22", "#c23"]

                $("#ct").click(function () {
                    $("#mmenu").fadeOut(250, function () {
                        $("#ct_menu").fadeIn(250)
                    })
                })
                $("#m14").click(function () {
                    $("#ct_menu").fadeOut(250, function () {
                        $("#mmenu").fadeIn(250)
                    })
                })

                $("#adusr").click(function () {
                    $("#mmenu").fadeOut(250, function () {
                        $("#usr_menu").fadeIn(250)
                    })
                })

                $("#m24").click(function () {
                    $("#usr_menu").fadeOut(250, function () {
                        $("#mmenu").fadeIn(250)
                    })
                })

                $("#exit").click(function () {
                    $.ajax({url:'/usr?rd='+Math.random().toString(36).substr(2),type:'DELETE',success:function(data,status){
                        if(data.result==200) window.location="/login"
                        if(data.result==403) console.log(data)//服务器错误
                    }})
                })

                $("#m11").click(function () {
                    $(mains[pageFlag]).fadeOut(250, function () {
                        pageFlag = 1
                        $(mains[pageFlag]).fadeIn(250)
                    })
                })
                $("#m12").click(function () {
                    $(mains[pageFlag]).fadeOut(250, function () {
                        pageFlag = 2
                        $(mains[pageFlag]).fadeIn(250)
                    })
                })
                $("#m13").click(function () {
                    $(mains[pageFlag]).fadeOut(250, function () {
                        pageFlag = 3
                        $(mains[pageFlag]).fadeIn(250)
                    })
                })
                $("#m21").click(function () {
                    $(mains[pageFlag]).fadeOut(250, function () {
                        pageFlag = 4
                        $(mains[pageFlag]).fadeIn(250)
                    })
                })
                $("#m22").click(function () {
                    $(mains[pageFlag]).fadeOut(250, function () {
                        pageFlag = 5
                        $(mains[pageFlag]).fadeIn(250)
                    })
                })
                $("#m23").click(function () {
                    $(mains[pageFlag]).fadeOut(250, function () {
                        pageFlag = 6
                        $(mains[pageFlag]).fadeIn(250,function(){
                            setTimeout(resCan,10)
                        })
                    })
                })

                var ajaxflag = 0
                /////////////////////////////////c11
                $("#ctkey input:eq(9)").blur(function(){
                    if(!(/^[0-9]{1,20}$/.test($(this).val()))) $("#ctkey input:eq(9)").toggleClass("inputErr",true)
                    else $("#ctkey input:eq(9)").removeClass("inputErr")
                })

                $("#onput").click(function () {
                    if (ajaxflag) return 0
                    var inputs = []
                    var i = 0
                    $("#ctkey input").each(function () {
                        inputs[i] = $(this).val()
                        i++
                    })
                    if(!(/^[0-9]{0,12}$/.test(inputs[9]))) return 0
                    $(".onput").removeClass("fa-check").addClass("fa-pulse").addClass("fa-spinner")
                    ajaxflag = 1
                    $.post('/ct?rd='+Math.random().toString(36).substr(2), {
                        name: inputs[0],
                        a: inputs[1],
                        b: inputs[2],
                        money: inputs[9],
                        time:inputs[3],
                        begin: inputs[5],
                        end: inputs[6],
                        location: inputs[4],
                        aa: inputs[7],
                        bb: inputs[8]
                    }, function (data, status) {
                        $(".onput").removeClass("fa-spinner").removeClass("fa-pulse").addClass("fa-check")
                        if (status == "success") {
                            switch (data.result) {
                                case 200:
                                    $("#res11").html("成功提交系统处理，请耐心等待。（3秒钟后自动刷新）").fadeIn(500)
                                    var t = 3
                                    var h = setInterval(function () {
                                        if (t <= 0) {
                                            //???html5 dom api
                                            var p = document.querySelectorAll("#ctkey input")
                                            for (i = 0; i <= p.length; i++) if (p[i]) p[i].value = null
                                            var now=new Date().getFullYear()+"-"+((new Date().getMonth()<9)?("0"+(new Date().getMonth()+1)):(new Date().getMonth()+1))+"-"+((new Date().getDate()<10)?("0"+new Date().getDate()):(new Date().getDate()))
                                            document.querySelectorAll("#ctkey input")[2].value = "湖南浩盛消防科技有限公司"
                                            document.querySelectorAll("#ctkey input")[3].value = now
                                            document.querySelectorAll("#ctkey input")[5].value = now
                                            document.querySelectorAll("#ctkey input")[6].value = now
                                            $("#res11").fadeOut(500)
                                            clearInterval(h)
                                        } else {
                                            --t
                                            $("#res11").html("成功提交系统处理，请耐心等待。（" + t + "秒钟后自动刷新）")
                                        }
                                    }, 1000)
                                    break
                                case 403:
                                    $("#res11").html("操作太快，请休息片刻。").fadeIn(500)
                                    break
                                default:
                                    $("#res11").html("信息填写错误，请检查后重试。").fadeIn(500)
                            }
                        } else {
                            $("#res11").html("服务器繁忙，请稍后再试。").fadeIn(500)
                        }
                        ajaxflag = 0
                    })
                })
                $("#onreset").click(function () {
                    //???html5 dom api
                    var p = document.querySelectorAll("#ctkey input")
                    for (i = 0; i <= p.length; i++) if (p[i]) p[i].value = null
                    var now=new Date().getFullYear()+"-"+((new Date().getMonth()<9)?("0"+(new Date().getMonth()+1)):(new Date().getMonth()+1))+"-"+((new Date().getDate()<10)?("0"+new Date().getDate()):(new Date().getDate()))
                    document.querySelectorAll("#ctkey input")[2].value = "湖南浩盛消防科技有限公司"
                    document.querySelectorAll("#ctkey input")[3].value = now
                    document.querySelectorAll("#ctkey input")[5].value = now
                    document.querySelectorAll("#ctkey input")[6].value = now
                })

                //////////////////////////////////c12
                $("#seach12 i").click(function () {
                    var id = $("#seach12 input").val().toUpperCase(),
                            idReg = /^[A-Z0-9]{14}$/
                    $("#res12").empty()
                    if (idReg.test(id)) {
                        $.post('/vfc?rd='+Math.random().toString(36).substr(2), {id: id}, function (data, status) {
                            if (status == "success") {
                                if (data.result == 200) $("#res12").append(data.html)
                            } else {
                                $("#res12").append('<p class="resp">服务器繁忙，请稍后再试。</p>')
                            }
                        })
                    } else {
                        $("#res12").append('<p class="resp">请注意大写&检查拼写，然后输入正确的14位合同编号。</p>')
                    }
                })

                /////////////////////////////////c13

                var ctboxPage = 0

                //add
                $("#ctheader i:eq(0)").click(function () {
                    resTabAdd(1)
                    $(this).fadeOut(500)
                })///?????????????
                //del
                $("#ctheader i:eq(1)").click(function () {
                    $("#ctbox .resTab:not(:first) i").each(function () {
                        if (this.ifSelect) resTabDel(0, this)//safe mode for test
                    })
                    //resTabDel(1)
                })
                //flash
                $("#ctheader i:eq(2)").click(function () {
                    ctboxPage = 1
                    $("#ctNext").removeClass("ctNext__").addClass("ctNext_")
                    resTabFlash(1, ctboxPage)
                })
                //next
                $("#ctNext").click(function () {
                    if (ctboxPage > 0 && ctboxPage < 4) {
                        ctboxPage++
                        resTabFlash(0, ctboxPage)
                    } else {
                        $(this).removeClass("ctNext_").addClass("ctNext__")
                    }
                })
                //all select
                $("#ctbox .resTab .resi:first").click(function(){
                    if(this.ifSelect){
                        $("#ctbox .resTab .resi").each(function(){
                            $(this).addClass("fa-circle-o").removeClass("fa-check-circle-o")
                            this.ifSelect=0
                        })
                    }else{
                        $("#ctbox .resTab .resi").each(function(){
                            $(this).addClass("fa-check-circle-o").removeClass("fa-circle-o")
                            this.ifSelect=1
                        })
                    }
                })

                /////////////////////////////////c21
                $("#c21 .onbutton:eq(0)").click(function(){
                    if (ajaxflag) return 0
                    var inputs = []
                    var i = 0
                    $("#c21 input").each(function () {
                        inputs[i] = $(this).val()
                        i++
                    })
                    /*if(!(/^[0-9]{11}$/.test(inputs[4]))) return 0*/
                    $("#c21 .onbuttoni:eq(0)").removeClass("fa-check").addClass("fa-pulse").addClass("fa-spinner")
                    ajaxflag = 1
                    if(inputs[7]!=inputs[8]) return 0
                    $.ajax({url:'/usr?rd='+Math.random().toString(36).substr(2),type:'PUT',data:{
                        usr:inputs[0],name:inputs[1],
                        idf:inputs[2],pwd:hex_sha1(inputs[6]),newPwd:hex_sha1(inputs[7]),
                        tel:inputs[4],em:inputs[3]},
                        success:function(data,status) {
                            $("#c21 .onbuttoni:eq(0)").removeClass("fa-spinner").removeClass("fa-pulse").addClass("fa-check")
                            if (status == "success"&&data.result==200) {
                                $("#res21").html("成功提交修改。")
                                document.querySelectorAll("#c21 input")[6].value = ""
                                document.querySelectorAll("#c21 input")[7].value = ""
                                document.querySelectorAll("#c21 input")[8].value = ""
                            }else{
                                $("#res21").html("服务器繁忙，请稍后重试。")
                            }
                            ajaxflag = 0
                        }
                    })
                })

                $("#c21 .onbutton:eq(1)").click(function(){
                    if (ajaxflag) return 0
                    $("#c21 .onbuttoni:eq(1)").removeClass("fa-check").addClass("fa-pulse").addClass("fa-spinner")
                    ajaxflag = 1
                    $.getJSON('/usrs?self=1&rd='+Math.random().toString(36).substr(2),function(data,status){
                        if (status == "success") {
                            $("#c21 .onbuttoni:eq(1)").removeClass("fa-spinner").removeClass("fa-pulse").addClass("fa-check")
                            document.querySelectorAll("#c21 input")[0].value = data[0].usr
                            document.querySelectorAll("#c21 input")[1].value = data[0].name
                            document.querySelectorAll("#c21 input")[2].value = data[0].idf
                            document.querySelectorAll("#c21 input")[3].value = data[0].em
                            document.querySelectorAll("#c21 input")[4].value = data[0].tel
                        }
                        ajaxflag = 0
                    })
                })

            })
                /////////////////////////////////c22
    -if(pms[3])
        script.
            var bx,by
            var timeFlag=9
            var pointY=[[],[],[],[],[],[]]
            var ser_usage=[]

            timeFlag--

            $(function(){
                var usrboxPage=0

                //add
                $("#usrheader i:eq(0)").click(function(){
                    usrTabAdd(1)
                    $(this).fadeOut(500)
                })///?????????????
                //del
                $("#usrheader i:eq(1)").click(function(){
                    $("#usrbox .resTab:not(:first) i").each(function () {
                        if (this.ifSelect) usrTabDel(0,this)//safe mode for test
                    })
                    //resTabDel(1)
                })
                //flash
                $("#usrheader i:eq(2)").click(function(){
                    usrboxPage=1
                    $("#usrNext").removeClass("ctNext__").addClass("ctNext_")
                    usrTabFlash(1,usrboxPage)
                })
                //next
                $("#usrNext").click(function(){
                    if(usrboxPage>0&&usrboxPage<4){
                        usrboxPage++
                        usrTabFlash(0,usrboxPage)
                    }else{
                        $(this).removeClass("ctNext_").addClass("ctNext__")
                    }
                })
                //all select
                $("#usrbox .resTab .resi:first").click(function(e){
                    stopBubleUp(e)
                    if(this.ifSelect){
                        $("#usrbox .resTab .resi").each(function(){
                            $(this).addClass("fa-circle-o").removeClass("fa-check-circle-o")
                            this.ifSelect=0
                        })
                    }else{
                        $("#usrbox .resTab .resi").each(function(){
                            $(this).addClass("fa-check-circle-o").removeClass("fa-circle-o")
                            this.ifSelect=1
                        })
                    }
                })

                //////////////////////////////c23


                //setTimeout(resCan,10) in menu
                $.get('/monitor?rd='+Math.random().toString(36).substr(2),function(res){ser_usage[1]=res.cpu})
                for(var i=0;i<61;i++){
                    pointY[0][i]=100
                    pointY[1][i]=100
                    pointY[2][i]=100
                    pointY[3][i]=100
                    pointY[4][i]=100
                    pointY[5][i]=100
                }
                $(window).resize(function(){resCan()})


            })

            var hPla=setInterval(function(){
                if(pageFlag!=6) return 0
                console.log(pageFlag)
                $.get('/monitor?rd='+Math.random().toString(36).substr(2),function(res){
                    if(timeFlag<=0) timeFlag=9
                    //if(!$('.ser-can').get(0)) return can_clear()
                    ser_usage.shift()
                    ser_usage.push(res.cpu)
                    pointY[0].shift()
                    pointY[0].push((ser_usage[1].free-ser_usage[0].free)/(ser_usage[1].total-ser_usage[0].total)*100)
                    pointY[1].shift()
                    pointY[1].push(res.mem.free/res.mem.total*100)
                    pointY[3].shift()
                    pointY[3].push(100-res.node.cpu)
                    if(pointY[3][60]<pointY[0][60]) pointY[0][60]=pointY[3][60]
                    pointY[4].shift()
                    pointY[4].push(100-100*res.node.mem/res.mem.total)
                    $(".monit").get(0).innerText=parseInt(100-(ser_usage[1].free-ser_usage[0].free)/(ser_usage[1].total-ser_usage[0].total)*100)+"%"
                    $(".monit").get(1).innerText=parseSec(res.uptime)
                    $(".monit").get(2).innerText=parseSec(parseInt(res.node.uptime/1000))
                    $(".monit").get(3).innerText=parseInt((res.mem.total-res.mem.free)/1024/1024/10.24)/100+" GB"
                    pla_can(0,'17,125,187')
                    pla_can(1,'139,18,174')
                    //pla_can(2,'167,79,1')
                    timeFlag--
                })
            },1000)

            function resCan(){
                var ser_can = $(".ser-can")
                ser_can.attr("width", $(".ser-tu").width())
                ser_can.attr("height", $(".ser-tu").height())
                bx = $(".ser-tu").width()/60
                by = $(".ser-tu").height()/100
                pla_can(0,'17,125,187')
                pla_can(1,'139,18,174')
                pla_can(2,'100,100,100')
            }

            function pla_can(num,color){
                var ctx=$('.ser-can').get(num).getContext('2d')
                ctx.clearRect(0,0,60*bx,100*by)/////-----------------
                ctx.lineWidth=1
                ctx.strokeStyle='rgba('+color+',1.0)'
                ctx.beginPath()
                ctx.strokeRect(0.5,0.5,60*bx-1,100*by-1)
                ctx.stroke()
                ctx.beginPath()
                ctx.strokeStyle='rgba('+color+',0.2)'
                for(var i=1;i<10;i++){
                    ctx.moveTo(0.5,10*by*i+0.5)
                    ctx.lineTo(60*bx-0.5,10*by*i+0.5)
                }
                for(var i=0;i<6;i++){
                    ctx.moveTo((i*10+timeFlag)*bx+0.5,0.5)
                    ctx.lineTo((i*10+timeFlag)*bx-0.5,100*by-0.5)
                }
                ctx.stroke()
                ctx.beginPath()
                ctx.fillStyle='rgba('+color+',0.1)'
                ctx.strokeStyle='rgba('+color+',0.8)'
                ctx.lineJoin='round'
                ctx.moveTo(60*bx,pointY[num][60]*by)
                ctx.lineTo(60*bx,100*by)
                ctx.lineTo(0,100*by)
                for(var i=0;i<61;i++){
                    ctx.lineTo(i*bx,pointY[num][i]*by+0.5)
                }
                ctx.stroke()
                ctx.fill()
                ctx.beginPath()
                ctx.fillStyle='rgba('+color+',0.4)'
                ctx.strokeStyle='rgba('+color+',0.0)'
                ctx.lineJoin='round'
                ctx.moveTo(60*bx,pointY[num][60]*by)
                ctx.lineTo(60*bx,100*by)
                ctx.lineTo(0,100*by)
                for(var i=0;i<61;i++){
                    ctx.lineTo(i*bx,pointY[num+3][i]*by+0.5)
                }
                ctx.stroke()
                ctx.fill()
            }

            function parseSec(sec){
                var tm=new Date(0,0,0,0,0,sec)
                return ((tm.getDay()>0)?(tm.getDay()+":"+tm.getHours()+":"+tm.getMinutes()+":"+tm.getSeconds()):(tm.getHours()+":"+tm.getMinutes()+":"+tm.getSeconds()))
            }

            //pure clean
            function can_clear() {
                timeFlag = null
                clearInterval(hPla)
                resCan = function () {
                }
                pointY.length = 0
            }


    body#layout
        a#barLink.bar-link(href="#bar")
            span
        #bar.mc.bar
            #home.sc
                i.fa.fa-home.fa-2x.home
            #mmenu
                #usr
                    div.usr
                        #face &nbsp;
                        #name=name
                    #usrmsg="今天是"+new Date().getFullYear()+"年"+(new Date().getMonth()+1)+"月"+new Date().getDate()+"日。"
                #menu
                    #ct.mcon
                        i.fa.fa-files-o.fa-2x.mico
                        div.mtext 合同管理
                    #adusr.mcon
                        i.fa.fa-cogs.fa-2x.mico
                        div.mtext 控制面板
                    #exit.mcon
                        i.fa.fa-arrow-circle-left.fa-2x.mico
                        div.mtext 注销登陆
            #ct_menu.lmenu
                #m11.mcon
                    i.fa.fa-pencil-square-o.fa-2x.mico
                    div.mtext 提交合同
                #m12.mcon
                    i.fa.fa-search.fa-2x.mico
                    div.mtext 真伪查询
                #m13.mcon
                    i.fa.fa-files-o.fa-2x.mico
                    div.mtext 查看合同
                #m14
                    i.fa.fa-arrow-circle-left.fa-4x.back.mcon
            #usr_menu.lmenu
                #m21.mcon
                    i.fa.fa-user.fa-2x.mico
                    div.mtext 个人信息
                -if (pms[3])//for faren
                    #m22.mcon
                        i.fa.fa-users.fa-2x.mico
                        div.mtext 用户群组
                    #m23.mcon
                        i.fa.fa-server.fa-2x.mico
                        div.mtext 后台监控
                #m24
                    i.fa.fa-arrow-circle-left.fa-4x.back.mcon
        #main
            #hello
                div.header
                    h1 浩盛消防 在线平台
                    h2="欢迎使用，今天是"+new Date().getFullYear()+"年"+(new Date().getMonth()+1)+"月"+new Date().getDate()+"日。"
                div.content
            #c11.mains
                div.header
                    div.pure-u-1-6
                    div.pure-u-2-3
                        h2.headertext 合同授权
                    div.pure-u-1-6
                div.content
                    div.pure-u-1-6
                    div.pure-u-2-3
                        div.msgvalue.pure-u-1-6
                            p 合同名称
                            p 甲方
                            p 乙方
                            p 签订时间
                            p 签订地点
                            p 有效期限
                            p 甲方代表
                            p 乙方代表
                            p 合同金额
                        div.pure-u-5-6
                            #ctkey
                                input.input
                                input.input
                                input.input(value="湖南浩盛消防科技有限公司")
                                input.input(placeholder="日期格式：yyyy-mm-dd",value=new Date().getFullYear()+"-"+((new Date().getMonth()<9)?("0"+(new Date().getMonth()+1)):(new Date().getMonth()+1))+"-"+((new Date().getDate()<10)?("0"+new Date().getDate()):(new Date().getDate())),type="date")
                                input.input(value="湖南省长沙市")
                                div
                                    div.pure-u-2-5
                                        input.input(placeholder="日期格式：yyyy-mm-dd",value=new Date().getFullYear()+"-"+((new Date().getMonth()<9)?("0"+(new Date().getMonth()+1)):(new Date().getMonth()+1))+"-"+((new Date().getDate()<10)?("0"+new Date().getDate()):(new Date().getDate())),type="date")
                                    div.pure-u-1-5
                                        p 到
                                    div.pure-u-2-5
                                        input.input(placeholder="日期格式：yyyy-mm-dd",value=new Date().getFullYear()+"-"+((new Date().getMonth()<9)?("0"+(new Date().getMonth()+1)):(new Date().getMonth()+1))+"-"+((new Date().getDate()<10)?("0"+new Date().getDate()):(new Date().getDate())),type="date")
                                input.input
                                input.input
                                div
                                    div.pure-u-11-12
                                        input.input(placeholder="单位为：元")
                                    div.pure-u-1-12
                                        p 元
                        div.pure-u-1-2
                            #onput.onbutton
                                i.onbuttoni.fa.fa-check.onput
                        div.pure-u-1-2
                            #onreset.onbutton
                                i.onbuttoni.fa.fa-refresh.onreset
                        div.pure-u-1-1
                            #res11.resMsg
                    div.pure-u-1-6
            #c12.mains
                div.header
                    div.pure-u-1-6
                    div.pure-u-2-3
                        h2.headertext 真伪查询
                    div.pure-u-1-6
                div.content
                    div.pure-u-1-6
                    div.pure-u-2-3
                        div#seach12.seachbox
                            input.seachbar.input(type="text",name="",placeholder="合同编号",max="16")
                            i.seach.fa.fa-search
                        #res12
                    div.pure-u-1-6
            #c13.mains
                #ctheader.header
                    div.pure-u-1-6
                    div.pure-u-1-3.addop
                        -if(pms[3])
                            i.addop.fa.fa-pencil-square-o.fa-1_5x
                            i.delop.fa.fa-trash-o.fa-1_5x
                        -else
                            i
                            i
                    div.seachbox.pure-u-1-3
                        input.seachbar.input(type="text",name="",placeholder="合同名称/授权码/甲方",max="16")
                        i.seach.fa.fa-search
                    div.pure-u-1-6
                div.content
                    div.pure-u-1-6
                    div.pure-u-2-3
                        #ctbox.opbox
                            table.resTab(border=0,cellspacing=0,cellpadding=0)
                                tr.resTr
                                    td.resTd(width=32)
                                        i.resi(align="center").fa.fa-circle-o
                                    td.resTd(width=130)
                                        p.resp(align="center") 编号
                                    td.resTd(width=300)
                                        p.resp(align="center") 合同名称
                                    td.resTd(width=100)
                                        p.resp(align="center") 甲方
                                    td.resTd(width=120)
                                        p.resp(align="center") 授权时间
                                    td.resTd
                        #ctNext.onNext.onNext_
                            i.fa.fa-sort-desc
                    div.pure-u-1-6
            #c21.mains
                div.header
                    div.pure-u-1-6
                    div.pure-u-2-3
                        h2.headertext 个人信息
                    div.pure-u-1-6
                div.content
                    div.pure-u-1-6
                    div.pure-u-2-3
                        div.msgvalue.pure-u-1-6
                            p 用 户 名
                            p 真实姓名
                            p 身份证号
                            p 电子邮箱
                            p 电话号码
                            p 用户角色
                        div.pure-u-1-2
                            div.msgkey
                                input.input(value=usr)
                                input.input(value=name)
                                input.input(value=idf)
                                input.input(value=em)
                                input.input(value=tel)
                                input.input.roinput(readonly="readonly",value=(pms[3]?"法人":(pms[4]?"管理员":"委托代理人")))
                        div.pure-u-1-3
                            i.fa.fa-user.fa-5x.face
                    div.pure-u-1-6
                div.header.header2
                    div.pure-u-1-6
                    div.pure-u-2-3
                        h2.headertext 修改密码
                    div.pure-u-1-6
                div.content
                    div.pure-u-1-6
                    div.pure-u-2-3
                        div.msgvalue.pure-u-1-6
                            p 旧 密 码
                            p 新 密 码
                            p 再次输入
                        div.pure-u-1-2
                            div.msgkey
                                input.input(placeholder="初始密码为身份证后6位",type="password")
                                input.input(placeholder="不超过16位的字母、数字、特殊符号",type="password")
                                input.input(type="password")
                        div.pure-u-1-3
                        #res21.resMsg &nbsp;&nbsp;
                        div.pure-u-1-2
                            div.onbutton
                                i.onbuttoni.fa.fa-check.onput
                        div.pure-u-1-2
                            div.onbutton.btn_reset
                                i.onbuttoni.fa.fa-refresh.onreset
                    div.pure-u-1-6
            -if(pms[3])
                #c22.mains
                    div#usrheader.header
                        div.pure-u-1-6
                        div.pure-u-1-3.addop
                            i.addop.fa.fa-user-plus.fa-1_5x
                            i.delop.fa.fa-user-times.fa-1_5x
                        div.seachbox.pure-u-1-3
                            input.seachbar.input(type="text",name="",placeholder="用户名/邮箱/手机号/身份证号",max="16")
                            i.seach.fa.fa-search
                        div.pure-u-1-6
                    div.content
                        div.pure-u-1-6
                        div.pure-u-2-3
                            #usrbox.opbox
                                table.resTab(border=0,cellspacing=0,cellpadding=0)
                                    tr.resTr
                                        td.resTd(width=32)
                                            i.resi(align="center").fa.fa-circle-o
                                        td.resTd(width=100)
                                            p.resp(align="center") 真实姓名
                                        td.resTd(width=240)
                                            p.resp(align="center") 证件号码
                                        td.resTd(width=160)
                                            p.resp(align="center") 用户名
                                        td.resTd(width=120)
                                            p.resp(align="center") 角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色
                                        td.resTd
                            #usrNext.onNext.onNext_
                                i.fa.fa-sort-desc
                        div.pure-u-1-6
                #c23.mains
                    div.header
                        div.pure-u-1-6
                        div.pure-u-2-3
                            h2.headertext 后台监控
                        div.pure-u-1-6
                    div.content
                        div.ser-block.pure-g
                            //#os.pure-u-1
                                div.pure-u-1.pure-u-lg-1-3
                                    a="系统内核："+os.type
                                div.pure-u-1.pure-u-lg-1-3
                                    a="node version："+os.rl
                                div.pure-u-1.pure-u-lg-1-3
                                    a="node重启："+parseInt(os.uptime)+"s"
                            div.ser-u-x-x
                                #cpu.ser-jk
                                    div.ser-jk1 CPU
                                    div.ser-jk2=cpu.model
                                    div.ser-jk3.pure-u-1-2 %利用率
                                    div.ser-jk4.pure-u-1-2 100%
                                    #cpu_tu.ser-tu
                                        canvas.ser-can
                                    div.ser-jk3.pure-u-1-2 60秒
                                    div.ser-jk4.pure-u-1-2 0
                                    div.pure-u-1-2.pure-u-lg-1-1.pure-u-xl-1-2
                                        div.pure-u-1-2.ser-raw1
                                            p 利用率
                                            p.monit n/a
                                        div.pure-u-1-2.ser-raw1
                                            p 速度
                                            p n/a
                                        //div.pure-u-1-2.ser-raw1
                                            p 进程
                                            p n/a
                                        //div.pure-u-1-2.ser-raw1
                                            p 线程
                                            p n/a
                                        div.pure-u-1.ser-raw1
                                            p 系统运行时间
                                            p.monit n/a
                                        div.pure-u-1.ser-raw1
                                            p node运行时间
                                            p.monit n/a
                                    div.pure-u-1-2.pure-u-lg-1-1.pure-u-xl-1-2
                                        div.pure-u-1-2.ser-raw3
                                            p 最大速度：
                                            p 插槽：
                                            p 内核：
                                            p 逻辑处理器：
                                            p L1 缓存：
                                            p L2 缓存：
                                            p L3 缓存：
                                        div.pure-u-1-2.ser-raw4
                                            p=cpu.speed + "MHz"
                                            p n/a
                                            p n/a
                                            p n/a
                                            p n/a
                                            p n/a
                                            p n/a
                            div.ser-u-x-x
                                #ram.ser-jk
                                    div.ser-jk1 内存
                                    div.ser-jk2 未知
                                    div.ser-jk3.pure-u-1-2 内存使用量
                                    div.ser-jk4.pure-u-1-2=parseInt(mem/1024/1024/10.24)/100+" GB"
                                    #ram_tu.ser-tu
                                        canvas.ser-can
                                    div.ser-jk3.pure-u-1-2 60秒
                                    div.ser-jk4.pure-u-1-2 0
                                    div.pure-u-1-2.pure-u-lg-1-1.pure-u-xl-1-2
                                        div.pure-u-1-2.ser-raw1
                                            p 使用中
                                            p.monit n/a
                                        div.pure-u-1-2.ser-raw1
                                            p 可用
                                            p=parseInt(mem/1024/1024/10.24)/100+" GB"
                                    div.pure-u-1-2.pure-u-lg-1-1.pure-u-xl-1-2
                                        div.pure-u-1-2.ser-raw3
                                            p 速度：
                                            p 插槽：
                                            p 组成要素：
                                            p 保留内存：
                                        div.pure-u-1-2.ser-raw4
                                            p n/a
                                            p n/a
                                            p n/a
                                            p n/a
                            div.ser-u-x-x
                                #net.ser-jk
                                    div.ser-jk1 网络
                                    div.ser-jk2 未知
                                    div.ser-jk3.pure-u-1-2 吞吐量
                                    div.ser-jk4.pure-u-1-2 1Mbps
                                    #net_tu.ser-tu
                                        canvas.ser-can
                                    div.ser-jk3.pure-u-1-2 60秒
                                    div.ser-jk4.pure-u-1-2 0
                                    div.pure-u-1-2.pure-u-lg-1-1.pure-u-xl-1-2
                                        div.pure-u-1.ser-raw1
                                            p 发送
                                            p n/a
                                        div.pure-u-1.ser-raw1
                                            p 接收
                                            p n/a
                                    div.pure-u-1-2.pure-u-lg-1-1.pure-u-xl-1-2
                                        div.pure-u-1-2.ser-raw3
                                            p 网卡名称：
                                            p 连接类型：
                                            p IPv4地址：
                                            p IPv6地址：
                                        div.pure-u-1-2.ser-raw4
                                            p n/a
                                            p n/a
                                            p n/a
                                            p n/a
                script(src="/static/js/usr_fns.js?rd="+Math.random().toString(36).substr(2))
            -else
                script(src="/static/js/usr_fns_p.js?rd="+Math.random().toString(36).substr(2))
        script(src="/static/js/usr.js")

